<li class="list-group">
  <%= image_tag user.profile_picture.thumb.url if user.profile_picture.present? %>
  <%= link_to user.name, user %>
  <% if logged_in? %>
	  <% if current_user.admin? && !current_user?(user) %>
	  	| <%= link_to "Delete", user, method: :delete,
	  								  data: { confirm: "Are you sure?" } %>
	  	| <%= link_to "Edit", edit_user_path(user) %>							  
	  <% end %>
	<% end %>
</li>