<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>
<ul class="row list-unstyled">
	<li class="col-xs-3"><b>Profile Picture</b></li>
	<li class="col-xs-3"><b>Name</b></li>
</ul>
<ul class="list-unstyled">
  <%= render @users %>
</ul>

<%= will_paginate %>