<div class="center jumbotron">
  <h1>Welcome to the Freelancing App</h1>
  <h2>This is the visitor's page for this App</h2>
</div>
<h1>All Freelancers
	<small class="pull-right"><%= pluralize(@freelancers.count, 'result') %></small>
</h1>

<%= will_paginate @freelancers %>

<ul>
  <%= render 'freelancers' %>
</ul>

<%= will_paginate @freelancers %>